<div class="row-fluid">
  <div class="span12">
    <!-- Title Start -->
    <div class="span12 center">
      <h1>It's simple to land a great job quickly</h1>
      <h2>Bypass application screening, go straight to the shortlist, & get the offer</h2>
    </div>
    <!-- Title End -->
    <!-- Vid Start -->
    <div class="row-fluid">
      <div class="span2 emptyspace"></div>
      <div class="flex-video widescreen span8">
        <iframe src="http://www.youtube.com/embed/6teBPUgz4Y8?rel=0" frameborder="0" allowfullscreen=""></iframe>
      </div>
      <div class="span2 emptyspace"></div>
    </div>
    <!-- Vid end -->
    <!-- CTA Start -->
    <div class="row-fluid">
      <div class="span3 emptyspace"></div>
      <div class="span6 center messageCTA">
        <form class="form-inline" action="http://careersmarter.us7.list-manage2.com/subscribe/post" method="POST">
          <input type="hidden" name="u" value="9fde223641ca9b7b5f28bb366">
          <input type="hidden" name="id" value="2cd7d0de25">
          <input type="email" class="input-medium" autocapitalize="off" 
            autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Enter your email">
          <button type="submit" class="btn btn-large btn-warning">
            <i class="icon-ok icon-white"></i> Notify me !
          </button>
        </form>
      </div>
      <div class="span3 emptyspace"></div>
    </div>
    <!-- CTA end -->
    <!-- Benifits&Features Start -->
    <div class="row-fluid">
      <div class="span2 emptyspace"></div>
      <div class="span8">
        <div class="span6 messageFeature">
          <div class="center">
            <span class="icon-stack icon-3x">
              <i class="icon-circle icon-stack-base"></i>
              <i class="icon-lightbulb icon-light"></i>
            </span>
          </div>
          <h4 class="center">
            Get an awesome job the smart way
          </h4>
          <ul class="icons-ul">
            <li><i class="icon-check-sign"></i>   Increase your chances of landing that job 2000% by bypassing application screening</li>
            <li><i class="icon-check-sign"></i>   No more wasted time on applications to just never hear back</li>
            <li><i class="icon-check-sign"></i>   Get the job you want, not the job you need</li>
          </ul>
        </div>
        <div class="span6 messageFeature">
          <div class="center">
            <span class="icon-stack icon-3x">
              <i class="icon-circle icon-stack-base"></i>
              <i class="icon-briefcase icon-light"></i>
            </span>  
          </div>
          <h4 class="center">
            The Smarter way to develop career skills 
          </h4>
          <ul class="icons-ul">
            <li><i class="icon-check-sign"></i> Choose your own adventure learning</li>
            <li><i class="icon-check-sign"></i> Learn skills not theory</li>
            <li><i class="icon-check-sign"></i> Over the shoulder demonstrations from the pros</li>
          </ul>
        </div>
      </div>
      <div class="span2 emptyspace"></div>
    </div>
    <!-- Benifits&Features End -->
  </div>
</div>

