<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to '<i class="icon-briefcase icon-light"></i> Career Smarter'.html_safe, '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
        </ul>
      </nav>
    </div>
  </div>
</header>